{% extends 'base.html' %}
{% block body %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">List of New Water Plants <a href="{% url 'WP:wpnew-export' %}" class="btn btn-primary"><i class="fa fa-external-link-square"></i> Export to excel</a></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
            <form role="form" method="POST" action="#">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4><i class="fa fa-filter"></i>  Apply Filters</h4>
                    </div>
                    <div class="panel-body">
                    {% if success_message %}
                            <div class="alert alert-success">
                            <strong>{{ success_message }}</strong>
                            </div>
                    {% endif %}
                    {% if error_message %}
                            <div class="alert alert-danger">
                            <strong>{{ error_message }}</strong>
                            </div>
                    {% endif %}
                             
                    
                    
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>District</label>
                                    <select name="district" id="id_district" class="form-control">
                                    <option value="NULL">---------</option> 
                                    {% for m in district%}
                                        <option>{{ m }}</option>
                                    {%endfor%}
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Mandal</label>
                                    <select name="mandal" id="id_mandal" class="form-control">
                                    <option value="NULL">---------</option>
                                    {% for m in mandal%}
                                        <option>{{ m }}</option>
                                    {%endfor%}
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Gram Panchayat</label>
                                    <select name="gram_panchayat" id="id_gram_panchayat" class="form-control">
                                    <option value="NULL">---------</option>
                                    {% for m in gram_panchayat%}
                                        <option>{{ m }}</option>
                                    {%endfor%}
                                    </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                        <div class="form-group">
                                <label>Village</label>
                                    <select name="village" id="id_village" class="form-control">
                                    <option value="NULL">---------</option>
                                    {% for m in village%}
                                        <option value="{{m}}">{{ m }}</option>
                                    {%endfor%}
                                    </select>
                            </div>

                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Constency</label>
                                    <select name="constency" id="id_constency" class="form-control">
                                    <option value="NULL">---------</option>
                                    {% for m in constency%}
                                        <option>{{ m }}</option>
                                    {%endfor%}
                                    </select>
                            </div>
                        </div>
                        
                     </div>
                </div>
              </div>
                </form>
            </div>
            <div class="row">
                  <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Water Plants
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                         {% if success_message %}
                            <div class="alert alert-success">
                            <strong>{{ success_message }}</strong>
                            </div>
                        {% endif %}
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa fa-link"></i></th>
                                        <th>District</th>
                                        <th>Mandal</th>
                                        <th>Gram Panchayat</th>
                                        <th>Village</th>
                                        <th>Constency</th>
                                        <th>Populations</th>
                                        <th>Capacity</th>
                                        <th>Date of Establishment</th>
                                        <th>Plant Type</th>
                                        <th>Incharge</th>
                                    </tr>
                                </thead>
                                <tbody id="ajax-filter">
                                {% for i in data %}
                                    <tr class="odd gradeX">
                                        <td><a href="{% url 'WP:WaterPlantUpdate' i.pk %}"><i class="fa fa fa-eye"></i></a>&nbsp;<a href="{% url 'WP:WaterPlantDelete' i.pk %}"><i class="fa fa fa-times-circle-o"></i></a></td>
                                        <td>{{i.loc.district}}</td>
                                        <td>{{i.loc.mandal}}</td>
                                        <td>{{i.loc.gram_panchayat}}</td>
                                        <td>{{i.loc.village }}</td>
                                        <td>{{i.loc.constency}}</td>
                                        <td>{{i.populations}}</td>
                                        <td>{{i.capacity}}</td>
                                        <td>{{i.date}}</td>
                                        <td>{{i.plant_type}}</td>
                                        <td>{{i.incharge}}</td>
                                    </tr>
                                {%endfor%}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </div>    
        
 <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>


<script>
      $("#id_district").change(function(){
       
      var url = $("#WaterPlantForm").attr("data-user-url");  // get the url of the `load_cities` view
      var district = $("#id_district").val();  // get the selected country ID from the HTML input
      console.log(district)
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'WP:ajax_load_mandal'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'district': district       // add the country id to the GET parameters
        },
        success: function (data) {
             // `data` is the return of the `load_cities` view function
            
          $("#id_mandal").html(data);
            // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>

  <script>
      $("#id_mandal").change(function(){
       
      var url = $("#WaterPlantForm").attr("data-user-url");  // get the url of the `load_cities` view
      var mandal = $("#id_mandal").val();  // get the selected country ID from the HTML input
      console.log(mandal)
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'WP:ajax_load_gram_panchayat'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'mandal': mandal       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_gram_panchayat").html(data);
            // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>

  <script>
      $("#id_gram_panchayat").change(function(){
       
      var url = $("#WaterPlantForm").attr("data-user-url");  // get the url of the `load_cities` view
      var gram_panchayat = $("#id_gram_panchayat").val();  // get the selected country ID from the HTML input
      console.log(gram_panchayat)
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'WP:ajax_load_village'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'gram_panchayat': gram_panchayat       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_village").html(data);
            // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>


<script>
      $("#id_village").change(function(){
       
      var url = $("#WaterPlantForm").attr("data-user-url");  // get the url of the `load_cities` view
      var village = $("#id_village").val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'WP:ajax_load_constency'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'village': village       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_constency").html(data);
            // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>

<script>
      $("#id_district,#id_mandal,#id_gram_panchayat,#id_village,#id_constency").change(function(){
       
      var url = $("#WaterPlantForm").attr("data-user-url");  // get the url of the `load_cities` view
      var gram_panchayat=$("#id_gram_panchayat").val();
      var constency=$("#id_constency").val();
      var district=$("#id_district").val();
      var mandal=$("#id_mandal").val();
      var village = $("#id_village").val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: "{% url 'WP:filter-ajax'%}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'village': village,
          'mandal': mandal,
          'gram_panchayat':gram_panchayat,
          'district':district,
          'constency':constency       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#ajax-filter").html(data);
            // replace the contents of the city input with the data that came from the server
        }
      });
    });
  </script>








{% endblock %}