{% extends 'base.html' %}
{% block body %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <center><h1 class="page-header" style="color:#337AB7"><i class="fa fa-file-text-o"></i> Water Plants Report Generation</h1></center>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="border: 50%">
                    {% for i in wps %}
                    <div class="col-lg-3 col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-cube  fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"><i class="fa fa-file-text  "></i></div>
                                            <div><strong>{{i}} : {{i.plant_type}}</strong></div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'WP:complete_water_plant_report' i.pk %}">
                                    <div class="panel-footer">
                                        <span class="pull-left">Generate Report</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
